body {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    padding-top: 400px;
    padding-bottom: 400px;
}
.container {
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: left;
    padding: 20px 15px 30px 18px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 7px 7px;
    max-width: 270px;
    
}
.image {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}
button {
    background-color: hsl(47, 88%, 63%);
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: bold;
}
a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    transition-property: all;
    transition-duration: 0.8s;
}
.first {
    color: hsl(0, 0%, 42%);
    
}
.text-image {
    display: flex;
    align-items: center;
}
span {
    margin: 15px;
    font-weight: bold;
}
a:hover {
    color: hsl(47, 88%, 63%);
}